NODE_ENV=development
APP_NAME=auction-backend
APP_HOST=0.0.0.0
APP_PORT=4000
APP_GLOBAL_PREFIX=api/v1
CORS_ORIGINS=http://localhost:3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=auction
DATABASE_PASSWORD=auction
DATABASE_NAME=auction
DATABASE_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

BETTER_AUTH_URL=http://localhost:4000
BETTER_AUTH_SECRET=change-me-better-auth-secret-minimum-32-chars

STROWALLET_BASE_URL=https://strowallet.com
STROWALLET_PUBLIC_KEY=
STROWALLET_SECRET_KEY=
STROWALLET_MERCHANT_ID=
STROWALLET_MODE=sandbox
STROWALLET_WEBHOOK_URL=http://localhost:4000/api/v1/payments/strowallet/webhook
STROWALLET_WEBSITE_URL=http://localhost:3000
STROWALLET_DEVELOPER_CODE=

OPENINARY_URL=
OPENINARY_API_KEY=
OPENINARY_FOLDER=auction

WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_VERIFY_TOKEN=
