NODE_ENV=development
APP_NAME=auction-backend
APP_HOST=0.0.0.0
APP_PORT=4000
APP_GLOBAL_PREFIX=api/v1
CORS_ORIGINS=http://localhost:3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=auction
DATABASE_PASSWORD=auction
DATABASE_NAME=auction
DATABASE_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

BETTER_AUTH_URL=http://localhost:4000
BETTER_AUTH_SECRET=change-me-better-auth-secret-minimum-32-chars

OPAY_BASE_URL=
OPAY_MERCHANT_ID=
OPAY_PUBLIC_KEY=
OPAY_PRIVATE_KEY=
OPAY_WEBHOOK_SECRET=

OPENINARY_CLOUD_NAME=
OPENINARY_API_KEY=
OPENINARY_API_SECRET=

WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_VERIFY_TOKEN=
